---
import { Icon } from 'astro-icon';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<figure class='w-6'>
			<Icon pack='mdi' name='menu' />
		</figure>
		<h1 class='text-red-500 hover:bg-sky-800 sm:px-8 sm:py-3'>Astro</h1>
	</body>
</html>
